.upcomingContainer {
  height: 90vh;
  width: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}

.title {
  letter-spacing: 0.05rem;
  font-weight: 450;
  display: flex;
  align-items: center;
}

.titleCount {
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
  padding: 4px 10px;
  border-radius: 12px;
  color: #8d8d8d;
  border: 1px solid #d9d9d9;
  line-height: 1;
}

.tasksContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  gap: 35px;
  padding: 0 20px 0 0;
}

.tasksContainer > *:first-child {
  grid-column: span 2;
}
